<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener class-name="musicPlayTests.Listeners" />
		<listener class-name="musicPlayTests.ExecutionListener" />
	</listeners>
	
	
	<test thread-count="5" name="Music Play Android">
		<classes>
		
			<class name="musicPlayTests.Userflow" />
			
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
