<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener class-name="elleven.Listeners" />
		<listener class-name="elleven.ExecutionListener" />
	</listeners>
	
	
	<test thread-count="5" name="Elleven Android">
		<classes>
		
			<class name="elleven.Login" />
			<class name="elleven.Profile" />
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
